/* LoginForm.css */
.center-login {
   /* display: grid;
   place-items: center;
   align-content: center; */
   padding-top: 100PX;
  }
.login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
   }
   
   .login-form label {
    margin-bottom: 5px;
   }
   
   .login-form input {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
   }
   
   .login-form button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
   }
   
   .login-form button:hover {
    background-color: #0056b3;
   }
   .error-message {
      color: red;
      font-weight: bold;
      padding: 10px;
    }
   
   /* Responsive design for smaller screens */
   @media only screen and (max-width: 480px) {
    .login-form {
       width: 100%;
       padding: 10px;
    }
   }
   